.my-logo {
  font-size: 32px;
  vertical-align: middle;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*backlog styles*/
.backlog_10 {
  width: 10%;
}

.backlog_status {
  width: 7%;
}

.backlog_amount {
  width: 3%;
}

.backlog td:last-child,
.backlog td:nth-child(10) {
  word-break: break-all;
}

/*requirement card styles*/
.attribute-panel {
  font-style: italic;
}

.general-wrapper {
  margin-top: 10px;
  display: flex;
}

.content {
  width: 600px;
}

.sidebar {
  margin-left: 5px;
  width: 300px;
}

.row {
  display: flex;
}

.label {
  min-width: 70px;
}

.value {
  margin-left: 10px;
  margin-right: 5px;
  width: 85%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*login card styles*/
.login-card {
  width: 400px;
}

.login-card .input {
  width: 300px;
}
